# Virtual environment
.venv/
env/
venv/

# Python bytecode and cache files
__pycache__/
*.pyc
*.pyd
*.pyo

# IDE/Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Log files
*.log

.env
